*{
    margin: 0px;
    padding: 0px;
}
h1{
    background: orange;
    height: 350px;
    width: 350px;

    /* border-width: 10px;
    border-style: solid;
    border-color: aqua; */

    border: 10px solid green;
    /* padding: 10px; */
    padding: 10px 30px 40px 30px;
    margin: 20px;
    border-radius: 20px;
}

h3{
    background: pink;
    border: 2px solid green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    background: rgb(215, 114, 122);
    padding: 10px;
    border: 5px solid green;
    margin: 15px;
}

/* span{
    background: pink;
} */
