h1{
    background: aqua;
    height: 200px;
    width: 300px;
    /* padding: 30px;
    margin: 20px; */
    display: inline-block;
    
}

h2{
    background: brown;
    /* display: inline; */
    display: inline-block;
}

span{
    /* background: pink; */
    height: 200px;
    width: 300px;
    margin-bottom: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    /* display: inline; */
}